.navbar{
  background-color: #2790b0;
  padding: 10px 0px;
}

.navbar-toggle{
  color: white;
}

.navbar-menu{
  background-color: #3a3633;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 210px;
  margin: 0;
  z-index: 9998; /* coloca o estilo por cima de tudo */
  list-style: none;
  padding: 0;

}

.navbar-usuario{
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #525151;
}

.navbar-menuitem{
  padding: 15px;
}

.navbar-menuitem a{
  color: #c0bbb7;
  text-decoration: none;
}

.navbar-menuitem a:hover{
  color: #fff;
}
