<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Lançamentos</h1>
    </div>
    <div class="ui-g-12 ui-fluid">
      <label for="descricao">Descrição</label>
      <input pInputText type="text" id="descricao" >
    </div>

    <div class="ui-g-12">
      <label for="vencimento-inicio-txt" id="vencimento-inicio-label">Vencimento</label>
      <input pInputText type="text" id="vencimento-inicio-txt" >

      <label for="vencimento-fim-txt">até</label>
      <input pInputText type="text" id="vencimento-fim-txt" >
    </div>
    <div class="ui-g-12">
      <button pButton type="submit" label="Pesquisar"></button>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-12">
      <p-dataTable [value]="lancamentos">
        <p-column field="pessoa" header="Pessoa"></p-column>
        <p-column field="descricao" header="Descrição"></p-column>
        <p-column field="dataVencimento" header="Vencimento" styleClass="col-data"></p-column>
        <p-column field="dataPagamento" header="Pagamento" styleClass="col-data"></p-column>
        <p-column field="valor" header="Valor" styleClass="col-valor">
          <ng-template let-vlancamento="rowData" pTemplate="body">
            <span [ngStyle]="{ color: vlancamento.tipo === 'DESPESA' ? 'red' : 'blue' }">{{vlancamento.valor}}</span>
          </ng-template>
        </p-column>
        <p-column styleClass="col-acoes">
          <ng-template pTemplate="body">
            <a pButton icon="fa-pencil"></a>
            <a pButton icon="fa-trash"></a>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
    <div class="ui-g-12">
      <a pButton label="Novo Lançamento"></a>
    </div>
  </div>
</div>

